# Build output
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper (KEEP in repo) – do NOT ignore these
#!.mvn/wrapper/maven-wrapper.jar

# Logs & runtime
*.log
hs_err_pid*
heapdump*.hprof
*.swp

# OS junk
.DS_Store
Thumbs.db

# IDEs
### IntelliJ ###
.idea/
*.iml
*.iws
*.ipr

# Temporary files
*.tmp
*.bak

# Local env / secrets (commit templates separately)
.env
.env.*
*.local.yml
application-local.yml